.item {
  margin-top: 2vw;
  margin-bottom: 2vw;
  border: 1px solid black;
  border-radius: 1vw;
  padding: 0;
}

.item-panes {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.item-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #EDEDED;
  padding: 1vw;
}

.item-div.title {
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
}

.item-div.image {
  width: 50%;
  border-bottom-left-radius: 1vw;
}

.item-div.price {
  width: 25%;
  font-size: 3vw;
}

.item-div.quantity {
  width: 25%;
  border-bottom-right-radius: 1vw;
}

img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
